<%= live_component(@socket, AccountingSystemWeb.HeaderComponent, id: "header") %>
<div class="inline-flex w-full">
<%= live_component(@socket, AccountingSystemWeb.PolicyListComponent, id: 0, name: "", xml_b64: "") %>
</div>
