<%= live_component(@socket, AccountingSystemWeb.HeaderComponent, id: "header") %>
<div class="inline-flex">
<%= live_component(@socket, AccountingSystemWeb.FormAuxiliariesComponent, id: "formauxiliaries") %>
</div>
