/* app.css */

@tailwind base;

@tailwind components;

/* Put your custom components here */

@tailwind utilities;

/* Put your custom utilities here */

.tooltip:hover .tooltip-text {
    @apply visible;
}
.transition-menu { 
    transition: 0.5s;
    -moz-transition: 0.5s;
}
.transition-menu-label{
    font-size: .0001px;
    position: absolute;
    margin-left: -3rem;
    opacity: 0;
    transition: 0.2s;
    visibility: hidden;
    -moz-transition: 0.2s;
}
.transition-menu:hover {
    @apply w-48;
}
.transition-menu:hover a svg{
    @apply mr-1 ml-2;
}
.transition-menu:hover label{
    @apply text-base relative opacity-100 ml-3 visible;
}
.notification {
    -webkit-animation-name: notification_start;
    animation-name: notification_start;
    -webkit-animation-duration: 6s;
    animation-duration: 6s;
    -webkit-animation-iteration-count: inherit;
    animation-iteration-count: inherit;
  }
  
  @-webkit-keyframes notification_start {   
    0%  { bottom: -60rem;} 
    10%  { bottom: 18rem;}   
    80%  { bottom: 18rem;}  
    100% { bottom: -60rem; }   
   } 
   @keyframes notification_start {   
    0%  { bottom: -60rem;} 
    10%  { bottom: 18rem;}   
    80%  { bottom: 18rem;}  
    100% { bottom: -60rem; }   
   }
  
/* For Slide toggle*/
.modern-checkbox label::before,
.modern-checkbox label::after {
    @apply absolute left-0 rounded-full border border-solid border-black cursor-pointer;
    content: "";
    transition: all 0.2s ease;
}
.modern-checkbox label::before {
    @apply w-12 h-6 border border-solid border-gray-400 bg-gray-400;
}
.modern-checkbox label::after {
    @apply w-6 h-6 bg-white border-0 top-0 left-0;
}
.modern-checkbox input:checked + label::after {
    left: calc(111% - 20px);
}
.modern-checkbox input:checked + label::before {
    @apply bg-blue-500 border-blue-500;
}
.modern-checkbox::after {
    content: attr(data-label);
    @apply pl-1 pt-1 flex;
}
/* For Tooltip*/
.tooltip .tooltip-text {
    visibility: hidden;
    text-align: center;
    padding: 2px 6px;
    position: absolute;
    z-index: 100;
  }
  .tooltip:hover .tooltip-text {
    visibility: visible;
  }
  /* For animate msg confirmation */
  .zum:active {
    transform: translateY(4px);
  }
  