<%= live_component(@socket, AccountingSystemWeb.HeaderComponent, id: "header") %>
<div class="inline-flex w-full">
<%= live_component(@socket, AccountingSystemWeb.BalanceComponent, id: "balance") %>
</div>
