<%= live_component(@socket, AccountingSystemWeb.HeaderComponent, id: "header") %>
<div class="inline-flex">
<%= live_component(@socket, AccountingSystemWeb.AccountsComponent, id: "accounts") %>

<%= live_component(@socket, AccountingSystemWeb.FormAccountComponent, id: "form") %>

</div>