<%= live_component(@socket, AccountingSystemWeb.HeaderComponent, id: "header") %> 
<div id="scrolleable" class="inline-flex" >

    <%= live_component(@socket, AccountingSystemWeb.AccountsComponent, id: "accounts") %>

</div>