<h1>Show Policy type</h1>

<ul>

  <li>
    <strong>Identifier:</strong>
    <%= @policy_type.identifier %>
  </li>

  <li>
    <strong>Name:</strong>
    <%= @policy_type.name %>
  </li>

  <li>
    <strong>Class sat:</strong>
    <%= @policy_type.classat %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.policy_type_path(@conn, :edit, @policy_type) %></span>
<span><%= link "Back", to: Routes.policy_type_path(@conn, :index) %></span>
