
<%= live_component(@socket, AccountingSystemWeb.HeaderToAuxiliariesComponent, id: "headertoauxiliaries") %>
<div class="inline-flex">
    <%= live_component(@socket, AccountingSystemWeb.AuxiliariesComponent, id: "auxiliaries") %>
</div>
