<h1>Show Provider</h1>

<ul>

  <li>
    <strong>Rfc provider:</strong>
    <%= @provider.rfc_provider %>
  </li>

  <li>
    <strong>Provider name:</strong>
    <%= @provider.provider_name %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.provider_path(@conn, :edit, @provider) %></span>
<span><%= link "Back", to: Routes.provider_path(@conn, :index) %></span>
