<h1>Show Series</h1>

<ul>

  <li>
    <strong>Serial:</strong>
    <%= @series.serial %>
  </li>

  <li>
    <strong>Number:</strong>
    <%= @series.number %>
  </li>

  <li>
    <strong>Current number:</strong>
    <%= @series.current_number %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.series_path(@conn, :edit, @series) %></span>
<span><%= link "Back", to: Routes.series_path(@conn, :index) %></span>
