<%= live_component(@socket, AccountingSystemWeb.HeaderComponent, id: "header") %>
<div class="inline-flex">
<%= live_component(@socket, AccountingSystemWeb.FormQueryPeriodComponent, id: "formqueryperiod") %>
</div>
